<%= title %>
<form action="/users/new" method="post">
    <label for="username">Enter username: </label>
	<input id="username" type="text" name="username" value="Default username" />
    <input type="submit" value="OK" />
</form>