<%= title %>
    <form action="/users/delete" method="POST">
        <label for="deleteUser">Enter username: </label>
        <input id="deleteUser" type="text" name="username" placeholder="Enter username" value="" />
        <input type="submit" value="OK" />
    </form>